*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;   
 font-family: helvetica;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    color: white;
    width: 100%;
    height: 100%;
    padding:100px 250px;
    background-image: url(./ashley-knedler-Pf5Pj7A5ddA-unsplash.jpg);
}

.ri-earth-fill{
    margin-right: 5px;
    padding: 0;
}
.footer{
    font-weight: 700;
    position: absolute;
    bottom: 10%;

}
.content{
    width: 45%;
    position: absolute;
    top: 23%;
}
.content h1{
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: 200;
}
.content h2{
font-weight: 300;
margin-bottom: 40px; 
}
.content h3{
    font-weight: 300;

}
.signup{
    padding: 120px 60px;
    color: black;
    width: 400px;
    height: 450px;
    text-align: center;
    background-color: rgb(234, 234, 234);
    right: 10%;
    top: 25%;
    position: absolute;   
}
.signup h1{
    margin-bottom: 40px;
}
.signup input{
    background-color: white;
    border:none;
    width: 100%;
    padding: 6px 10px;
    font-size: 22px;
    display: block;
}
.signup button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: royalblue;
    font-size: 17px;
    color: white;
    font-weight: 200;
    border: none;
}